@import "bootstrap-sprockets";
@import "bootstrap";

#poker-table {
	background-image: url("pokertable.jpg");
}

#cards {
	
	padding-top: 110px;
	padding-left: 70px;
	text-align: center;
}

.center {
	font-size: 4em;
	text-align: center;
}